@import "./colorVariables";
@import "./selectAllElements";
@mixin displayFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Background image*/
body {
  background-color: $Dark-cyan;
  height: 100vh;
  width: 100vw;
  opacity: 0.9;
  @include displayFlex();
  &::before {
    content: "";
    background-image: url("../images/bg-pattern-top.svg"),
      url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom 11rem right 45rem, top 18rem left 40rem;
    height: 100vh;
    width: 100vw;
    opacity: 0.9;
    z-index: -1;
    position: absolute;
  }
}

/*Container Part*/
.container {
  height: 50%;
  width: 23%;
  border-radius: 20px;
  overflow: hidden;
  font-family: "Kumbh Sans", sans-serif;
  h3 {
    color: $Very-dark-desaturated-blue;
  }
  p {
    font-size: 0.8rem;
    color: $Dark-gray;
  }
}

/*Head Part */
.head {
  height: 37%;
  .pattern {
    width: 100%;
    height: 100%;
  }
  .victor {
    border: 4px solid white;
    border-radius: 49px;
    margin: 0 auto;
    display: block;
    transform: translateY(-66px);
  }
}

/*Main part of the body*/
main {
  height: 63%;
  background-color: #ffff;
  text-transform: capitalize;
}
.main-Part {
  @include displayFlex();
  padding: 13%;
  h3 {
    position: relative;
    top: 12px;
    left: 19px;
  }
  p:first-of-type {
    position: relative;
    top: 12px;
    left: 28px;
  }
  p:last-child {
    position: relative;
    top: 42px;
    right: 64px;
  }
}

/*Line Part*/
hr {
  position: relative;
  top: 16px;
  color: $Dark-grayish-blue;
  font-weight: 20;
}

/*Footer Part*/
.main-foot {
  div{
    margin: 37px 26px;
    text-align: center;
    display: inline-block;
  }
}
